body {
    background: #fafafa;
}

.container {
    margin: 0 200px;
    box-shadow: 0 0 1px rgba(0, 0, 0, .07);
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, .07);
    background: white;
    padding: 10px;
}

.overview {
    margin: 10px;
    border-bottom: 1px solid #eee;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

.overview_title {
    display: flex;
    margin: 10px;
    align-items: center;
    justify-content: space-between;
}

.title {
    font-size: 18px;
}

.journey_title {
    margin: 10px;
    font-size: 18px;
}

.overview_item {
    width: 50%;
}

#go, #back {
    border-bottom: 1px solid #eee;
    padding: 10px;
    margin: 10px;
}

#title {
    font-size: 24px;
    text-align: center;
    margin: 10px;
}

.journey_item {
    margin: 10px;
    border: unset;
    padding: 10px;
    display: flex;
    flex-direction: row-reverse;
}

.journey_item_content, .image {
    display: inline-block;
    width: 50%;
}
